<form [formGroup]="movieForm" (ngSubmit)="onUpdate" class="form-horizontal">
    <input id="name" type="text" placeholder="Name" formControName="name" class="form-control"/>
    <input id="image" type="text" placeholder="Image URL" formControName="image" class="form-control" />
    <input id="genre" type="text" placeholder="Genre" formControName="genre" class="form-control"/>
    <input id="releaseYr" type="text" placeholder="Release Year" formControName="releaseYr" class="form-control"/>

    <button class="btn btn-primary" type="submit">Update</button>
</form>
