<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label > Name</label>
        <input id="name" type="text" placeholder="Name" formControName="name"/>
    </div>
    <div class="form-group">
        <label > Image</label>
        <input id="image" type="text" placeholder="Image URL" formControName="image" />
    </div>
    <div class="form-group">
        <label > Genre</label>
        <input id="genre" type="text" placeholder="Genre" formControName="genre"/>
    </div>
    <div class="form-group">
        <label > Release Year</label>
        <input id="releaseYr" type="text" placeholder="Release Year" formControName="releaseYr"/>
    </div>    
    <button class="btn-" type="submit">Add</button>
</form>