nav {
    background: linear-gradient(to right, #0b7ea1, #0d5a72);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: white;
}

button {
    border: 0px;
    background:  linear-gradient(to right, #8299b6, #62a5b9);
    font-size: 18px;
    color: white;
    margin-right: 14px;
    height: 35px;
    width: 100px;
    box-shadow: 5px 5px 0px black;
}